[mysqld]
performance-schema=0
default-storage-engine=MyISAM
innodb_file_per_table=1
old_passwords=0
slow-query-log=1
slow-query-log-file=/var/lib/mysql/mysql-slow.log
log-warnings=0
#skip-name-resolve  # 11.64 doesnt allow use of this.
max_user_connections=10
max_connections=500
max_allowed_packet = 64M
key_buffer_size = 256M
read_buffer_size = 1M
tmp_table_size = 64M
max_heap_table_size = 64M
thread_cache_size = 32
long_query_time = 20
query_cache_type = 1
query_cache_size = 256M
open-files-limit = 10000
interactive-timeout=300
wait-timeout=300
connect-timeout=60
expire_logs_days = 30
innodb-file-per-table= 1
innodb_buffer_pool_size = 512M
innodb_log_file_size = 2048M
tmpdir = /tmp
sort_buffer_size = 1M
join_buffer_size = 1M
table_open_cache = 16384
table_definition_cache = 16384
symbolic-links = 0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
